docker.enabled = true
report.enabled = true
timeline.enabled = true
trace.enabled = true

docker {
    runOptions = '-v /home/unicorn/.vep:/vep_cache:ro -v $PWD/Input_data:/Input_data --user $(id -u):$(id -g)'
}

process {
    withName: VEP_ANNOTATION {
        container = 'ensemblorg/ensembl-vep:release_115.0'
        cpus = 4
        memory = '8 GB'
        time = '15m'
        errorStrategy = 'terminate'
    }
}

params {
    input = "samples.csv"
    outdir = "Input_data"
    vep_cache = "/home/unicorn/.vep"
}
